{% extends "layout.html" %}

{% block stylesheet %}<link rel="stylesheet" href="">{% endblock %}

{% block title %}FAQ{% endblock %}

{% block main %} 

<h1>FAQ</h1>
<h3>Etiam orci lectus, scelerisque lacinia egestas nec?</h3>
<h5>Semper congue lorem. Maecenas non orci dui. Vestibulum vestibulum ipsum in accumsan pellentesque.</h5>
    
<h3>Proin eget nibh in neque pharetra dignissim rhoncus nec nulla?</h3>
<h5>Suspendisse vitae aliquet nisl, vel pellentesque sapien</h5>

<h3>Fusce tellus erat, facilisis ac leo a, euismod aliquet metus?</h3>
<h5>Sed massa massa, vestibulum eu consectetur non, laoreet eget magna. </h5>

<h3> Aenean aliquet lorem nulla, ut blandit turpis interdum quis?</h3>
<h5>  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</h5>


{% endblock %}
    
    
{% block scripts %}<script src=""></script>{% endblock %}