{% extends "layout.html" %}

{% block stylesheet %}<link rel="stylesheet" href="">{% endblock %}

{% block title %}Indique um amigo{% endblock %}

{% block main %}
<h1>Indique um amigo</h1>
<h4>Ele ganha, por se cadastrar no pré-lançamento:</h4>
<ul><li>1 ponto Multiplus pra cada R$2,00 que gastar no site no período de um ano, contando a partir do lançamento;</li>
<li>Desconto de 20% (15% => 12%) na taxa de intermediação do site quando prestar serviços, pelo mesmo período;</li></ul>

<h4>Você ganha:</h4>
<ul><li>3% de tudo que ele ganhar por 6 meses;</li>
<li>1% de tudo que ele gastar, por 6 meses;</li>
<li>Um site com mais profissionais e usuários, o que implica em maior qualidade e menores preços;</li></ul>





{% endblock %}
    
    
{% block scripts %}<script src=""></script>{% endblock %}
