{% extends "layout.html" %}

{% block stylesheet %}<link rel="stylesheet" href="">{% endblock %}

{% block title %}Sugestões{% endblock %}

{% block main %}
<h1>Sugestões</h1>
<h4>Deixa aqui suas sugestões, elogios ou reclamações. As informações de contato não são obrigatórias, mas são úteis para que possamos pedir mais informações sobre sua avaliação, agradecer, ou coisas do tipo.</h4>
    <form id="sugestform" action="{{url_for('sugestoes')}}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="E-mail" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="nome" placeholder="Nome" type="text"/>
            </div>
            <input type="submit" id="submit-form" style="display:none" />
        </fieldset>
    </form>
    <textarea form="sugestform" id="description" autocomplete="off" class="form-control" name="sugestao" placeholder="Sugestão" type="text" rows=9></textarea>
    <button class="btn btn-default" onclick="document.getElementById('submit-form').click()">Enviar sugestão</button></label>
{% endblock %}
    
    
{% block scripts %}<script src=""></script>{% endblock %}
