{% extends "layout.html" %}

{% block stylesheet %}<link rel="stylesheet" href="">{% endblock %}

{% block title %}    {% endblock %}

{% block main %}
<div>
    <form action="{{ url_for('teste') }}" method="post">
        <fieldset>
            <h2>Classe:</h2>
                <div id="classes" class="formgroup">
                {% for class in classes %}
                    {% if classes[class]!="Outros" %}
                    <input type="radio" name="classid" value="{{class}}">{{classes[class]}}<br>
                    {% endif %}
                {% endfor %}
                <input type="radio" name="classe" value=1>Outros<br>
          </div>
            <div class="form-group">
                <label for=nome>Nome:</label>
                <input id="nome" autocomplete="off" autofocus class="form-control" name="nome" placeholder="Nome" type="text"/>
            </div>
            <div class="form-group">
                <p id="geral" class="jsholders"></p>
                <button class="btn btn-default" type="submit">Oferecer</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}


{% block scripts %}<script src=""></script>{% endblock %}
