{% extends "layout.html" %}

{% block stylesheet %}<link rel="stylesheet" href="">{% endblock %}

{% block title %}    {% endblock %}

{% block main %}
<div>
    <form action="{{ url_for('teste') }}" method="post">
        <fieldset>
            <div class="formgroup">
                  <input type="radio" name="classid" value="2" checked>Advogado<br>
                  <input type="radio" name="classid" value="4">Contador<br>
                  <input type="radio" name="classid" value="3">Professor<br>
            </div>
            <div class="form-group">
                <label for=nome>Nome:</label>
                <input id="nome" autocomplete="off" autofocus class="form-control" name="nome" placeholder="Nome" type="text"/>
            </div>
            <div class="form-group">
                <p id="geral" class="jsholders"></p>
                <button class="btn btn-default" type="submit">Oferecer</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
    
    
{% block scripts %}<script src=""></script>{% endblock %}
