{% extends "layout.html" %}

{% block stylesheet %}<link rel="stylesheet" href="">{% endblock %}

{% block title %}Trabalhe conosco{% endblock %}

{% block main %}
<h2>Como trabalhamos</h2>
<p>Somos um time completamente remoto, mas prezamos por manter uma cultura empresarial e pela proximidade dos funcionários, mesmo a longas distâncias</p>

<h2>Vagas abertas:</h2>
<p>(quando clicar, aparece as responsabilidades e requisitos de cada cargo, e a opção de aplicar pro serviço)</p>
<h4>Desenvolvedor Mobile</h4>
<h4>Analista RH</h4>
<h4>Gerente de projetos</h4>


<h4>Oferecemos</h4>
<ul>
    <li>Salários Competitivo</li>
    <li>Opções</li>
    <li>Assistência médica e odontológica</li>
    <li>Seguro de vida</li>
</ul>


{% endblock %}
    
    
{% block scripts %}<script src=""></script>{% endblock %}
